<div class="ui-g header-bg">
    <div class="ui-lg-1 ui-md-1 ui-g-1 app-icon"></div>
    <div class="ui-lg-3 ui-md-4 ui-g-4 app-name">
        Leave Management Portal
    </div>
    <div class="ui-lg-2 ui-md-2 ui-g-2 header-text" *ngIf="showHeaderOptions">
        <span>Apply Leave</span>
    </div>
    <div class="ui-lg-2 ui-md-2 ui-g-2 header-text" *ngIf="showHeaderOptions">
        <span>Approve Leave</span>
    </div>
    <div class="ui-lg-2 ui-md-2 ui-g-2 header-text" *ngIf="showHeaderOptions">
        <span>Leave History</span>
    </div>
    <div class="ui-lg-2 ui-md-2 ui-g-2 header-text" *ngIf="showHeaderOptions">
        <span class="material-icons user-icon">account_circle</span>
        <span>User name</span>
    </div>
</div>