$primary-color: #4c6aaf;
.footer {
    color: white;
    background-color: $primary-color;
    text-align: center;
    padding-bottom: 9px;
}

.copyright-icon {
    font-size: 20px !important;
    color: white;
    vertical-align: middle
}